@page "/Account/ForgotPasswordConfirmation"
@layout production_system.Components.Account.Shared.AccountLayout

<PageTitle>NodeSync | Forgot Password Confirmation</PageTitle>

<div class="login-content">
    <div class="login-header">
        <h1>Forgot Password</h1>
        <p>Password reset link sent.</p>
    </div>

    <div class="alert alert-success mt-4 mb-4" role="alert">
        Please check your email to reset your password.
    </div>

    <div class="login-footer">
        <a href="login" class="footer-link">Back to Login</a>
    </div>
</div>

