@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<div class="login-content">
    <div class="login-header">
        <h1>Password Reset</h1>
        <p>Your password has been reset.</p>
    </div>

    <div class="alert alert-success mt-4">
        Your password has been successfully reset. You can now log in with your new password.
    </div>
    
    <div class="login-footer">
        <a href="Account/Login" class="footer-link">Go to Login</a>
    </div>
</div>
